/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.12.2019, 22:26:47
    Author     : JoelK
*/

/* ******************
   * Navigation
   ****************** */

.biwi-app-buttontree button {
    margin-top: 5px;
}

.biwi-app-buttontree .active {
    background-color: #ddd;
}

.biwi-app-buttontree .backbutton {
    background-color: #ddd;
}



/* ******************
   * Formular
   ****************** */

.biwi-form-row > .kijs-container-inner {
    display: flex;
}


/* ******************
   * Detail Panel
   ****************** */

div.biwi-detail-panel > div.kijs-footer > .kijs-container-inner {
    display: flex;
}



